<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <title>Starter Template for Bootstrap</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/Slider.css" rel="stylesheet">
  <link href="css/social.css" rel="stylesheet">
</head>

<body>
<h1> Jobs List</h1>
 <hr/>


<div class="container-fluid">
<div class="row">
  <div class="col-md-1">Job Name</div>
  <div class="col-md-1">Job Type</div>
  <div class="col-md-1">Job Duration</div>
  <div class="col-md-2">Job Company</div>
</div>

<br/>
<div class="row">
  <div class="col-md-1">Job 1</div>
  <div class="col-md-1">Job 2</div>
  <div class="col-md-1">Job 3</div>
  <div class="col-md-1">Job 4</div>
</div>

<div class="row">
  <div class="col-md-1">Job 1</div>
  <div class="col-md-1">Type 2</div>
  <div class="col-md-1"> 3 Years</div>
  <div class="col-md-2">Heritage Company</div>
</div>

<div class="row">
  <div class="col-md-1">Job 1</div>
  <div class="col-md-1">Job 2</div>
  <div class="col-md-1">Job 3</div>
  <div class="col-md-1">Job 4</div>
</div>

<div class="row">
  <div class="col-md-1">Job 1</div>
  <div class="col-md-1">Job 2</div>
  <div class="col-md-1">Job 3</div>
  <div class="col-md-1">Job 4</div>
</div>

<div class="row">
  <div class="col-md-1">Job 1</div>
  <div class="col-md-1">Job 2</div>
  <div class="col-md-1">Job 3</div>
  <div class="col-md-1">Job 4</div>
</div>



</div>
</body>